
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label for="emaliInput">Email</label>
                <input class="form-control" type="text" name="Username" value="" id="emaliInput" />
            </div>
            <div class="form-group">
                <label for="passInput">Password</label>
                <input class="form-control" type="text" name="Password" value="" id="passInput" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" name="Submit" />
            </div>
        </form>
    </div>
</div>